
#offcanvasMenu {
  width: 50% !important;
}

.logo {
  width: 120px !important;
  height: 40px !important;
}
#staticMfaLabel {
  font-size: 20px !important;
}
.fontsize-12 {
  font-size: 12px;;
}
.user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.w25 {
  width: 100px;
  margin-top: -150px !important;
}
.carousel-inner .carousel-item img {
  height: auto;
  width: auto;
  max-width: 100% !important;
  max-height: 620px !important;
}

#offcanvasWithBothOptions {
  width: 60% !important;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px !important;
  height: 30px !important;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  border-radius: 60% !important;
  cursor: pointer;
  background-color: #fefafa;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.9;
  transition: opacity .6s ease;
}

.emboss-menu {
  margin-top: 0;
  color: rgb(255 0 0 / 80%);
  text-shadow: 1px 2px 0 #EEE, 0 0 0 #000, 1px 2px 0 #EEE;  
}

.emboss-forgot {
  width: 100% !important;
  margin-top: 7px !important;
  text-align: right !important;
  color: blue;
  font-size: 12px;
  color: rgba(235, 38, 140, 0.8);
  text-shadow: 1px 2px 0 #EEE, 0 0 0 #f32828, 1px 2px 0 #EEE;  
}

.dash {
  visibility: visible;
  background-color: yellow;
  height: auto;
  width: auto;
  max-width: 100% !important;
  height: 600px !important;
  margin-left: -20px;
}

.emboss-h {
  margin-top: 0;
  color: rgb(255 0 0 / 80%);
  text-shadow: 1px 2px 0 #EEE, 0 0 0 #000, 1px 2px 0 #EEE;  
}

.forgot {
  width: 100% !important;
  margin-top: 7px !important;
  text-align: right !important;
  text-decoration: none !important;
}

.decoration-none {
  text-decoration: none !important;
}

.footer {
  font-size: 12px;  
}

.usr {
  width: 150px!important;
  height: 150px!important;
}
.card-width {
  padding: 20px!important;
}
.btn-1 {
  max-width: 90px!important;
}
.btn-2 {
  float: left!important;
}
#save {
  margin-top: 30px!important;
}
.qrcode1 {
  float: right;
  width: 200px;
  height: 200px;
}
.qrcode2 {
  float: right;
  width: 200px;
  height: 200px;
  opacity: 0.3;
}
@media (max-width: 991.98px) { 
  #qrcode-cap1 {
      margin-top: 200px;
      margin-left: -210px;
  }

  #qrcode-cap2 {
      margin-top: 10px;
      margin-left: -230px;
      width: 300px;
      text-align: justify;
  }

  .qrcode-cap3  {
      margin-left: -230px !important;
  }
}

.txt-justify {
  text-align: justify !important;
}

.adidas {
  height: 450px !important;
}

@media (max-width: 991.98px) {
 .aboutus {
  max-height: 100% !important;
  margin-bottom: 50px !important;
 }

 .contactus {
  position: fixed;
  max-height: 100% !important;
  margin-bottom: 50px !important;
 }

 .footer {
  bottom: -10px; /* Adjust based on footer height */
  width: 100%;
  transition: bottom 0.3s ease-in-out; /* Smooth transition */  
 }
 .footer.show {
  position: fixed; /* or absolute */
  bottom: -10px; /* Adjust based on footer height */
  width: 100%;
  transition: bottom 0.3s ease-in-out; /* Smooth transition */  
  }

  .dash {
    visibility: hidden;
  }
 }